[submodule "plugins/bass"]
	path = plugins/bass
	url = https://github.com/edc/bass.git
[submodule "plugins/virtualfish"]
	path = plugins/virtualfish
	url = https://github.com/adambrenecki/virtualfish.git
[submodule "plugins/oh-my-fish"]
	path = plugins/oh-my-fish
	url = https://github.com/oh-my-fish/oh-my-fish
